.star-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.star-wrapper input{
    width:  10px;
    height: 10px;
    border: 50px;
    opacity: 0;
    transform: translate(-50px, 50px) scale(11);
}

.star-wrapper label{
    display: flex;
    flex-flow: wrap;
    cursor: pointer;
    width: 100px;
    height: 100px;
    background-image: url(https://i.stack.imgur.com/cEQfe.png);
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: 30px -80px;
}


/*Try embedding .star5~label:focus-within*/
.star5:hover,
.star5:hover ~ label,
.star4:hover ~ label,
.star3:hover ~ label,
.star2:hover ~ label,
.star1:hover ~ label,
.star2:hover,
.star3:hover,
.star4:hover,
.star1:hover
{
    background-size: 350px;
    background-repeat: no-repeat;
    background-position: 30px 20px;
    transition: 1s ease-in-out 50ms;
} 

.star5:checked ~ label,
.star4:checked ~ label,
.star3:checked ~ label,
.star2:checked ~ label,
.star1:checked ~ label {
        background-size: 350px;
        background-repeat: no-repeat;
        background-position: 30px 20px;
}
