*{
    list-style: none;
    text-decoration: none;
    margin: 0; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    height: 200px;
    align-items: center;
}

ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li a {
    position: relative;
    display: flex;
    padding: 10px 20px;
    margin: 20px;
    font-size:25px;
    color: gray;
    opacity: 0.3;
    width: 30px;
    justify-content: center;
    align-items: center;
}

ul li a:hover {
    color: red;
    opacity: 1;
    font-size: 65px;
    transition: 500ms ease;
}
