*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    background: gray;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #4b4276;
    box-shadow: 0 5px 10 px rgba(0,0,0,0.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navbar ul{
    /*display: none;*/
    list-style: none;
}

.container .navbar ul li{
    position:relative;
    float: left;
}

.container .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: whitesmoke;
    display: block;
}

.container .navbar ul li a:hover{
    background: #594f8d;
    color: whitesmoke;
}

.container .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #4b4276;
    display: none;
}

.container .navbar ul li ul li{
    width: 100%;
    border: 1px solid whitesmoke;
}

.container .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

.container .navbar ul li:hover > ul, 
.container .navbar ul li:focus-within > ul{
    display: initial;
}

.leftbar:checked ~ .container{
    left: -50px;
    width: 200px;
    align-self: center;
    height: auto;
}

.leftbar:checked ~ .container .navbar ul li {
    left: -47px;
    width: 150px;
    height: auto;
}


.leftbar:checked ~ .container .navbar ul li ul
 {
    width: 160px;
    left: 150px;
    top: -5px;
}

.leftbar:checked ~ .container .navbar ul li ul > li{
    width: 160px;
    transform: translate(30%, 0%);
}

.leftbar:checked ~ .container .navbar ul li ul li ul {
    left: 159px;
    top: -2px;
}

.rightbar:checked ~ .container {
    left: 83.5%;
    width: 200px;
    height: auto;
}

.rightbar:checked ~ .container .navbar ul {
    position: absolute;
    background-color: #4b4276;
    width:170px;
}


.rightbar:checked ~ .container .navbar ul li a:hover{
    background: #594f8d;
    color: whitesmoke;
    width:168px;
}

.rightbar:checked ~ .container .navbar ul li ul,
.rightbar:checked ~ .container .navbar ul li ul li ul {
    left: -172px;
    top: -2px;
}

h1{
    position: relative;
    display: block; 
    text-align: center;
    padding-top: 5px;
    color: whitesmoke;
    height: 50px;
    width: 50%;
    margin: 20px 0 0 400px;
    background-color: rgb(50, 50, 143);
    box-shadow: 0 20px 10px rgba(0,0,0,0.1);
    border-radius: 20px;
}

h2{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    top: 160px;
    width: 50%;
    left: 580px;
}

.rightbar ~ label,
.topbar ~ label,
.leftbar ~ label, 
input {
    position: relative;
    display: inline-flex;
    color: black;
    margin: 5px;
    top:180px;
    left: 605px;
}
