*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    text-transform: capitalize;
    text-decoration: none;
}
body{
    background: gray;
}

.container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background: #4b4276;
    box-shadow: 0 5px 10 px rgba(0,0,0,0.1);
    padding: 0px 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.navbar ul{
    /*display: none;*/
    list-style: none;
}

.container .navbar ul li{
    position:relative;
    float: left;
}

.container .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: whitesmoke;
    display: block;
}

.container .navbar ul li a:hover{
    background: #594f8d;
    color: whitesmoke;
}

.container .navbar ul li ul{
    position: absolute;
    left: 0;
    width: 200px;
    background: #4b4276;
    display: none;
}

.container .navbar ul li ul li{
    width: 100%;
    border: 1px solid whitesmoke;
}

.container .navbar ul li ul li ul{
    left: 200px;
    top: 0;
}

.container .navbar ul li:hover > ul, 
.container .navbar ul li:focus-within > ul{
    display: initial;
}

.leftbar:checked ~ .container,
.leftbar:checked ~ .container .navbar ul 
{
    left: -100px;
    width: 200px;
    height: auto;
}

.leftbar:checked ~ .container .navbar ul li ul
{
    left: 100px;
    top: -5px;
}

.leftbar:checked ~ .container .navbar ul li ul li ul
{
    left: 200px;
    top: -2px;
}

.rightbar:checked ~ .container
{
    left: 85.5%;
    width: 200px;
    height: auto;
}

.rightbar:checked ~ .container .navbar ul
{
    position: absolute;
    background-color: #4b4276;
    width:160px;
    
}

.rightbar:checked ~ .container .navbar ul li ul,
.rightbar:checked ~ .container .navbar ul li ul li ul
{
    left: -160px;
    top: -2px;
}
