*{
    margin: 0;
    padding: 0;
}

.parent{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    column-gap: 1rem;
}

.grid{
    background-color: grey;
    height: 8rem;
    width: 8rem;
    color: white;
    margin: 0;
    
}

@media (max-width: 1000px){
    .parent{
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-gap: 0.2rem;
        column-gap: 0.2rem;
    }
    
    .grid{
        background-color: grey;
        height: 8rem;
        width: 8rem;
        color: white;
        margin: 0;
        
    }
}

@media (max-width: 600px){
    .parent{
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-gap: 0.2rem;
        column-gap: 0.2rem;
    }
    
    .grid{
        background-color: grey;
        height: 6rem;
        width: 6rem;
        color: white;
        margin: 0;
        
    }
}
